<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.tkd.dao.UserMapper">
    <insert id="createNewAccount" useGeneratedKeys="true" keyProperty="id">
        insert into 2019_3(id,name,password)
        values(#{id},#{name},#{password})
    </insert>
    <select id="getAccountByid" resultMap="UserFrom">
        select * from 2019_3 where name=#{name}
    </select>

    <update id="updateTrainingData" >
        update 2019_3
        <set>
            <if test="trainingTimes != null">trainingTimes=#{trainingTimes},</if>
            <if test="trainingDate != null">trainingDate=#{trainingDate}</if>
        </set>
        where id=#{id}
    </update>

    <resultMap id="UserFrom" type="com.nju.tkd.po.UserFrom">
    </resultMap>
</mapper>